<!-- /var/www/html/bytebloom.tech/express/public/login.html -->

<!DOCTYPE html>

<html lang="en">                                                                                                                                                           

<head>

    <title>The Game Hub - Login</title>

    <meta charset="utf-8" />
    <meta name="author" content="Nicholas Maclaren" />
    <meta name="description" content="Official website of THE GAME HUB, a gaming lounge and store located in Kamloops BC, Canada. - Login Form Page" />
    <meta name="keywords" content="byte, crush, bytecrush, web, software, development, design, website, webapp, app, application, site, business, dungeon, dragons, quests, miniatures, cards, strategy, dice, boardgames, roleplaying, tokens, expansion, campaigns, guilds, merchandise, collectibles, terrain, rulebooks, gamemaster, tournaments, playmats, figures, events, tavern, wizards, victory, turn-based, critical, initiative, inventories, environments, adventures, battles, characters, alliances, companions, challenges, journeys, magic, epic, lore, encounters, heroes, treasures, maps, realms, showdowns, rivalries, alliances, artifacts, alliances, mysteries, campaigns, victories, defeats, rivalries, alliances, storylines, quests, escapades, showdowns, loot, hexes" />
    <meta name="color-scheme" content="light dark" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Think about adding OG meta tags, and the twitter tags too -->
    <!-- Add Favicon and variants -->

    <link rel="stylesheet" href="css/login.css" type="text/css" />

</head> 

<body>

<header>

<nav>

<a class="login" href="login">Log-In</a>
<a class="signup" href="signup">Sign-Up</a>
<a class="store" href="store">Store</a>

</nav>

</header>

<main>

<h1>Login</h1>

<form id="loginForm">
<label for="email">Email:</label>
<input type="email" id="email" name="email" required />

<br />

<label for="password">Password:</label>
<input type="password" id="password" name="password" required />

<button type="button" id="login-button">Login</button>

</form>

</main>

<script src="js/login.js"></script>
</body>
