<!-- /var/www/html/bytebloom.tech/express/views/signup.html -->

<!DOCTYPE html>
<html lang="en">                                                                                                                                                           

<head>

    <title>The Game Hub - Sign Up</title>

    <meta charset="utf-8" />
    <meta name="author" content="Nicholas Maclaren" />
    <meta name="description" content="Official website of THE GAME HUB, a gaming lounge and store located in Kamloops BC, Canada. - Sign Up Form Page" />
    <meta name="keywords" content="byte, crush, bytecrush, web, software, development, design, website, webapp, app, application, site, business, dungeon, dragons, quests, miniatures, cards, strategy, dice, boardgames, roleplaying, tokens, expansion, campaigns, guilds, merchandise, collectibles, terrain, rulebooks, gamemaster, tournaments, playmats, figures, events, tavern, wizards, victory, turn-based, critical, initiative, inventories, environments, adventures, battles, characters, alliances, companions, challenges, journeys, magic, epic, lore, encounters, heroes, treasures, maps, realms, showdowns, rivalries, alliances, artifacts, alliances, mysteries, campaigns, victories, defeats, rivalries, alliances, storylines, quests, escapades, showdowns, loot, hexes" />
    <meta name="color-scheme" content="light dark" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Think about adding OG meta tags, and the twitter tags too -->
    <!-- Add Favicon and variants -->

    <link rel="stylesheet" href="css/signup.css" type="text/css" />

</head> 

<body>

    <header class="header"></header> <!-- Jelena nests nothing in header -->
    
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>

    <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
            <nav>
                <li><a href="/" target="_self">Home</a></li>
                <li><a href="/signup" target="_self">Signup</a></li>
                <li><a href="/login" target="_self">Login</a></li>
                <li><a href="/store" target="_self">Store</a></li>
                <li><a href="" target="_self">Cart</a></li>
            </nav>
        </ul>
        <div id="logoDiv"><img src="images/TheGameHubBetter.png" alt="The Game Hub Logo." /></div>
    </div>

    <div id="overlay"></div>

    <main>

        <h1>Signup</h1>

        <form id="signupForm">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />

            <br />

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />

            <button type="button" id="signup-button">Sign Up</button>

        </form>

    </main>

    <script src="js/signup.js"></script>
</body>
