<!-- /var/www/html/bytebloom.tech/express/views/store.html -->

<!DOCTYPE html>                                                                                                                     

<html lang="en">

<head>

    <title>The Game Hub - Store</title>

    <meta charset="utf-8" />
    <meta name="author" content="Nicholas Maclaren" />
    <meta name="description" content="Official website of THE GAME HUB, a gaming lounge and store located in Kamloops BC, Canada." />
    <meta name="keywords" content="byte, crush, bytecrush, web, software, development, design, website, webapp, app, application, site, business, dungeon, dragons, quests, miniatures, cards, strategy, dice, boardgames, roleplaying, tokens, expansion, campaigns, guilds, merchandise, collectibles, store, online, e-commerce, commerce, terrain, rulebooks, gamemaster, tournaments, playmats, figures, events, tavern, wizards, victory, turn-based, critical, initiative, inventories, environments, adventures, battles, characters, alliances, companions, challenges, journeys, magic, epic, lore, encounters, heroes, treasures, maps, realms, showdowns, rivalries, alliances, artifacts, alliances, mysteries, campaigns, victories, defeats, rivalries, alliances, storylines, quests, escapades, showdowns, loot, hexes" />
    <meta name="color-scheme" content="light dark" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Think about adding OG meta tags, and the twitter tags too -->
    <!-- Add Favicon and variants -->

    <link rel="stylesheet" href="css/store.css" type="text/css" />

</head>

<body>

    <header>                                                

        <nav>

        <button class="hidden burger" type="button"></button>
        
        <!--
            <a class="login" href="login">Log-In</a>
            <a class="signup" href="signup">Sign-Up</a>     Swapping these for burger button. Burger on mobile, links on desktop?
            <a class="store" href="store">Store</a>
        -->

        </nav>

    </header>

    <div id="header-spacer"></div>

    <main>

        <div id="store-items-container">

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">Example Description</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">Example Description</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">Example Description</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">Example Description</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">Example Description</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">Example Description</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">Example Description</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">Example Description</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">Example Description</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">Example Description</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">Example Description</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">Example Description</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">Example Description</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">Example Description</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">Example Description</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">Example Description</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">Example Description</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">Example Description</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

        </div>

    </main>

    <script src="js/store.js"></script>
</body>
