<!-- /var/www/html/bytebloom.tech/express/views/store.html -->

<!DOCTYPE html>                                                                                                                     

<html lang="en">

<head>

    <title>SHOP &mdash; The Game Hub</title>

    <meta charset="utf-8" />
    <meta name="author" content="Nicholas Maclaren" />
    <meta name="description" content="Official website of THE GAME HUB, a gaming lounge and store located in Kamloops BC, Canada." />
    <meta name="keywords" content="byte, crush, bytecrush, web, software, development, design, website, webapp, app, application, site, business, dungeon, dragons, quests, miniatures, cards, strategy, dice, boardgames, roleplaying, tokens, expansion, campaigns, guilds, merchandise, collectibles, store, online, e-commerce, commerce, terrain, rulebooks, gamemaster, tournaments, playmats, figures, events, tavern, wizards, victory, turn-based, critical, initiative, inventories, environments, adventures, battles, characters, alliances, companions, challenges, journeys, magic, epic, lore, encounters, heroes, treasures, maps, realms, showdowns, rivalries, alliances, artifacts, alliances, mysteries, campaigns, victories, defeats, rivalries, alliances, storylines, quests, escapades, showdowns, loot, hexes" />
    <meta name="color-scheme" content="light dark" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Think about adding OG meta tags, and the twitter tags too -->
    <!-- Add Favicon and variants -->

    <link rel="stylesheet" href="css/store.css" type="text/css" />
    <script src="https://js.stripe.com/v3/"></script>

</head>

<body>

    <header class="header"><h1 class="the-game-hub">The Game Hub</h1></header> <!-- Jelena nests nothing in header -->

    <div id="spacer"></div>
    
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>

    <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
            <nav>
                <li><a href="/" target="_self">Home</a></li>
                <li><a href="/signup" target="_self">Signup</a></li>
                <li><a href="/login" target="_self">Login</a></li>
                <li><a href="/store" target="_self">Store</a></li>
                <li><a target="_self" id="cart">Cart &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🛒</a></li>
            </nav>
        </ul>
        <div id="logoDiv"><img src="images/TheGameHubBetter.png" alt="The Game Hub Logo." /></div>
    </div>

    <div id="overlay"></div>

    <main>

        <div id="store-items-container">

            <div class="store-item">

                <div class="item-image-container">

                    <img class="item-image" src="" alt="Store item image." />

                </div>

                <h2 class="item-title"></h2>

                <h3 class="item-price"></h3>

                <p class="item-description"></p> 

                <div class="button-wrapper"><button class="add-to-cart" type="button">Add to Cart</button><img class="checkmark hidden" src="/images/Check.svg.png" alt="Item added to cart confirmation image." /></div>

            </div>

            <div class="store-item">

                <div class="item-image-container">

                    <img class="item-image" src="" alt="Store item image." />

                </div>

                <h2 class="item-title"></h2>

                <h3 class="item-price"></h3>

                <p class="item-description"></p> 

                <div class="button-wrapper"><button class="add-to-cart" type="button">Add to Cart</button><img class="checkmark hidden" src="/images/Check.svg.png" alt="Item added to cart confirmation image." /></div>

            </div>

            <div class="store-item">

                <div class="item-image-container">

                    <img class="item-image" src="" alt="Store item image." />

                </div>

                <h2 class="item-title"></h2>

                <h3 class="item-price"></h3>

                <p class="item-description"></p> 

                <div class="button-wrapper"><button class="add-to-cart" type="button">Add to Cart</button><img class="checkmark hidden" src="/images/Check.svg.png" alt="Item added to cart confirmation image." /></div>

            </div>

            <div class="store-item">

                <div class="item-image-container">

                    <img class="item-image" src="" alt="Store item image." />

                </div>

                <h2 class="item-title"></h2>

                <h3 class="item-price"></h3>

                <p class="item-description"></p> 

                <div class="button-wrapper"><button class="add-to-cart" type="button">Add to Cart</button><img class="checkmark hidden" src="/images/Check.svg.png" alt="Item added to cart confirmation image." /></div>

            </div>

            <div class="store-item">

                <div class="item-image-container">

                    <img class="item-image" src="" alt="Store item image." />

                </div>

                <h2 class="item-title"></h2>

                <h3 class="item-price"></h3>

                <p class="item-description"></p> 

                <div class="button-wrapper"><button class="add-to-cart" type="button">Add to Cart</button><img class="checkmark hidden" src="/images/Check.svg.png" alt="Item added to cart confirmation image." /></div>

            </div>

            <div class="store-item">

                <div class="item-image-container">

                    <img class="item-image" src="" alt="Store item image." />

                </div>

                <h2 class="item-title"></h2>

                <h3 class="item-price"></h3>

                <p class="item-description"></p> 

                <div class="button-wrapper"><button class="add-to-cart" type="button">Add to Cart</button><img class="checkmark hidden" src="/images/Check.svg.png" alt="Item added to cart confirmation image." /></div>

            </div>

        </div>

        <div class="hidden" id="cart-overlay">

            <button class="close" type="button"><span class="close">&#x2718;</span></button>

            <div class="cart-items-container">
 
                <!-- JS created elements --> 
 
            </div>

            <form action="/create-checkout-session" method="POST">
                <button class="checkout" type="submit">Checkout</button>
            </form>
        
        </div>

        <footer><span>Copyright © The Game Hub 2024</span><span>Designed &amp; Built by Bytecrush.ca</span></footer>

    </main>

    <script src="js/store.js"></script>
</body>
