<!-- /var/www/html/bytebloom.tech/express/views/store.html -->

<!DOCTYPE html>                                                                                                                     

<html lang="en">

<head>

    <title>The Game Hub - Store</title>

    <meta charset="utf-8" />
    <meta name="author" content="Nicholas Maclaren" />
    <meta name="description" content="Official website of THE GAME HUB, a gaming lounge and store located in Kamloops BC, Canada." />
    <meta name="keywords" content="byte, crush, bytecrush, web, software, development, design, website, webapp, app, application, site, business, dungeon, dragons, quests, miniatures, cards, strategy, dice, boardgames, roleplaying, tokens, expansion, campaigns, guilds, merchandise, collectibles, store, online, e-commerce, commerce, terrain, rulebooks, gamemaster, tournaments, playmats, figures, events, tavern, wizards, victory, turn-based, critical, initiative, inventories, environments, adventures, battles, characters, alliances, companions, challenges, journeys, magic, epic, lore, encounters, heroes, treasures, maps, realms, showdowns, rivalries, alliances, artifacts, alliances, mysteries, campaigns, victories, defeats, rivalries, alliances, storylines, quests, escapades, showdowns, loot, hexes" />
    <meta name="color-scheme" content="light dark" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Think about adding OG meta tags, and the twitter tags too -->
    <!-- Add Favicon and variants -->

    <link rel="stylesheet" href="css/store.css" type="text/css" />

</head>

<body>

    <header class="header"></header> <!-- Jelena nests nothing in header -->

    <div id="spacer"></div>
    
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>

    <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
            <nav>
                <li><a href="/" target="_self">Home</a></li>
                <li><a href="/signup" target="_self">Signup</a></li>
                <li><a href="/login" target="_self">Login</a></li>
                <li><a href="/store" target="_self">Store</a></li>
                <li><a href="" target="_self">Cart</a></li>
            </nav>
        </ul>
        <img src="images/TheGameHubBetter.png" alt="The Game Hub Logo." />
    </div>

    <div id="overlay"></div>

    <main>

        <div id="store-items-container">

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

            <div class="store-item">

                <img class="item-image" src="/images/diamond.png" alt="Store item image." />

                <h2 class="item-title">Example Title</h2>

                <p class="item-description">    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <button class="add-to-cart" type="button">Add to Cart</button>

            </div>

        </div>

    </main>

    <script src="js/store.js"></script>
</body>
