/* /var/www/html/bytebloom.tech/express/public/css/store.css */

@font-face {
    font-family: 'sansationregular';
    src: url('/fonts/sansation/sansation-regular-webfont.woff2') format('woff2'),
    url('/fonts/sansation/sansation-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansationbold';
    src: url('/fonts/sansation/sansation-bold-webfont.woff2') format('woff2'),
    url('/fonts/sansation/sansation-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'leaguegothicregular';
    src: url('/fonts/League-Gothic/leaguegothic-regular-webfont.woff2') format('woff2'),
    url('/fonts/League-Gothic/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'edgedisplayregular';
    src: url('/fonts/edge-display/edgedisplay-regular-webfont.woff2') format('woff2')
    url('/fonts/edge-display/edgedisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'edgedisplaybold';
    src: url('/fonts/edge-display/edgedisplay-bold-webfont.woff2') format('woff2'),
    url('fonts/edge-display/edgedisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: grey black;                                   
    scrollbar-width: thin;
}

body {
    margin: 0;
    background-image: linear-gradient(135deg, #e831e2 5%, #2a1ccc);
}

/************************************************ SLIDER MENU ************************************************/

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: black;
    position: fixed;
    height: 4rem!important;   
    overflow: hidden;
    z-index: 10;
}

#sidebarMenu {                                                
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: black; /* linear-gradient(180deg, black 0%, #3F5EFB 100%); - this gradient has a nice blue */
    z-index: 2;
}

.sidebarMenuInner {
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

/* Not needed?
    .sidebarMenuInner li span {
    display: block;
    font-size: 14px;
    color: linear-gradient(#e530e0, #281dcf);
}
*/

.sidebarMenuInner li a {
    font-family: "edgedisplaybold", sans-serif;
    letter-spacing: 5px;
    background: linear-gradient(to right, #e530e0, 20%, #281dcf); /* Gradient colors */
    -webkit-background-clip: text; /* Apply background-clip to text */
    color: transparent; /* Make the text color transparent */
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}


input[type=checkbox] {
    transition: all 0.3s;  
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    background-color: #fff;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
    background-color: #fff;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    background-color: #fff;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 1;
}

/************************************************ END SLIDER MENU ************************************************/

@media screen and (max-width: 300px) {

    /* 01 */

    main {
         
    }

    div#store-items-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    #spacer {
        height: 4rem; 
        width: 100%;
        max-width: 100%;
    }

    div.store-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        background-color: black;
        margin: 1rem;
    }

    h2.item-title {
        font-family: "sansationregular", sans-serif;
    }

    p.item-description {
        font-family: "sansationregular", sans-serif;
        margin: 1rem;
    }

    button.add-to-cart {
        background-color: purple;
		cursor: pointer;
        height: 4rem;
        width: 50%;
        margin: 1rem;
        border-radius: 2rem;
    }

    img.item-image { /* These width and hight values may only be working because my test image is square | Does "%" here refer to the containing block? */
        width: 100%;
    }

}

@media screen and (min-width: 301px) and (max-width: 400px) {

    /* 02 */

    main {
        
    }

    div#store-items-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    #spacer {
        height: 4rem; 
        width: 100%;
        max-width: 100%;
    }

    div.store-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        background-color: black;
        margin: 1rem;
    }

    h2.item-title {
        font-family: "sansationregular", sans-serif;
    }

    p.item-description {
        font-family: "sansationregular", sans-serif;
        margin: 1rem;
    }

    button.add-to-cart {
        background-color: purple;
		cursor: pointer;
        height: 4rem;
        width: 50%;
        margin: 1rem;
        border-radius: 2rem;
    }

    img.item-image { /* These width and hight values may only be working because my test image is square | Does "%" here refer to the containing block? */
        width: 100%;
    }

}

@media screen and (min-width: 401px) and (max-width: 600px) {

    /* 03 */

    main {

    }

    div#store-items-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #spacer {
        height: 4rem; 
        width: 100%;
        max-width: 100%;
    }

    div.store-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        background-color: black;
        margin: 1rem;
    }

    h2.item-title {
        font-family: "sansationregular", sans-serif;
    }

    p.item-description {
        font-family: "sansationregular", sans-serif;
        margin: 1rem;
    }

    button.add-to-cart {
        background-color: purple;
		cursor: pointer;
        height: 4rem;
        width: 50%;
        margin: 1rem;
        border-radius: 2rem;
    }

    img.item-image { /* These width and hight values may only be working because my test image is square | Does "%" here refer to the containing block? */
        width: 100%;
    }

}

@media screen and (min-width: 601px) and (max-width: 1000px) {

    /* 04 */

    main {
        
    }

    div#store-items-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #spacer {
        height: 4rem; 
        width: 100%;
        max-width: 100%;
    }

    div.store-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        background-color: black;
        margin: 1rem;
    }

    h2.item-title {
        font-family: "sansationregular", sans-serif;
    }

    p.item-description {
        font-family: "sansationregular", sans-serif;
        margin: 1rem;
    }

    button.add-to-cart {
        background-color: purple;
		cursor: pointer;
        height: 4rem;
        width: 50%;
        margin: 1rem;
        border-radius: 2rem;
    }

    img.item-image { /* These width and hight values may only be working because my test image is square | Does "%" here refer to the containing block? */
        width: 100%;
    }

}

@media screen and (min-width: 1001px) and (max-width: 1400px) {

    /* 05 */

    main {

    }

    div#store-items-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #spacer {
        height: 4rem; 
        width: 100%;
        max-width: 100%;
    }

    div.store-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        background-color: black;
        margin: 1rem;
    }

    h2.item-title {
        font-family: "sansationregular", sans-serif;
    }

    p.item-description {
        font-family: "sansationregular", sans-serif;
        margin: 1rem;
    }

    button.add-to-cart {
        background-color: purple;
		cursor: pointer;
        height: 4rem;
        width: 50%;
        margin: 1rem;
        border-radius: 2rem;
    }

    img.item-image { /* These width and hight values may only be working because my test image is square | Does "%" here refer to the containing block? */
        width: 100%;
    }

}

@media screen and (min-width: 1401px) {

    /* 06 */

    main {

    }

    div#store-items-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    #spacer {
        height: 4rem; 
        width: 100%;
        max-width: 100%;
    }

    div.store-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        background-color: black;
        margin: 1rem;
    }

    h2.item-title {
        font-family: "sansationbold", sans-serif;
    }

    p.item-description {
        font-family: "edgedisplayregular", sans-serif;
        margin: 1rem;
    }

    button.add-to-cart {
        background-color: purple;
		cursor: pointer;
        height: 4rem;
        width: 50%;
        margin: 1rem;
        border-radius: 2rem;
    }

    img.item-image { /* These width and hight values may only be working because my test image is square | Does "%" here refer to the containing block? */
        width: 100%;
    }

}
