/* /var/www/html/bytebloom.tech/express/public/css/store.css */

@font-face {                                                   
    font-family: 'ralewaythin';                                
    src: url('/fonts/raleway/raleway-thin-webfont.woff2') format('woff2'),    
         url('/fonts/raleway/raleway-thin-webfont.woff') format('woff');      
    font-weight: normal;                                       
    font-style: normal;                                        
}                                                              
                                                               
@font-face {                                                   
    font-family: 'ralewaysemibold';                            
    src: url('/fonts/raleway/raleway-semibold-webfont.woff2') format('woff2'),
         url('/fonts/raleway/raleway-semibold-webfont.woff') format('woff');  
    font-weight: normal;                                       
    font-style: normal;                                        
}                                                              
                                                               
@font-face {                                                   
    font-family: 'ralewayregular';                             
    src: url('/fonts/raleway/raleway-regular-webfont.woff2') format('woff2'), 
         url('/fonts/raleway/raleway-regular-webfont.woff') format('woff');   
    font-weight: normal;                                       
    font-style: normal;                                        
}                                                              
                                                               
@font-face {                                                   
    font-family: 'ralewaymedium';                              
    src: url('/fonts/raleway/raleway-medium-webfont.woff2') format('woff2'),  
         url('/fonts/raleway/raleway-medium-webfont.woff') format('woff');    
    font-weight: normal;                                       
    font-style: normal;                                        
}                                                              

@font-face {
    font-family: 'sansationregular';
    src: url('/fonts/sansation/sansation-regular-webfont.woff2') format('woff2'),
    url('/fonts/sansation/sansation-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansationbold';
    src: url('/fonts/sansation/sansation-bold-webfont.woff2') format('woff2'),
    url('/fonts/sansation/sansation-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'leaguegothicregular';
    src: url('/fonts/League-Gothic/leaguegothic-regular-webfont.woff2') format('woff2'),
    url('/fonts/League-Gothic/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'edgedisplayregular';
    src: url('/fonts/edge-display/edgedisplay-regular-webfont.woff2') format('woff2')
    url('/fonts/edge-display/edgedisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'edgedisplaybold';
    src: url('/fonts/edge-display/edgedisplay-bold-webfont.woff2') format('woff2'),
    url('fonts/edge-display/edgedisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: grey black;                                   
    scrollbar-width: thin;
}

body {
    margin: 0;
/*  background-image: linear-gradient(135deg, #e831e2 5%, #2a1ccc); */
    background-color: #fff;
}

/************************************************ SLIDER MENU ************************************************/

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #000;
    position: fixed;
    height: 4rem!important;   
    overflow: hidden;
    z-index: 10;
}

#sidebarMenu {                                                
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: black; /* linear-gradient(180deg, black 0%, #3F5EFB 100%); - this gradient has a nice blue */
    z-index: 3;
}

.sidebarMenuInner {
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

/* Not needed?
    .sidebarMenuInner li span {
    display: block;
    font-size: 14px;
    color: linear-gradient(#e530e0, #281dcf);
}
*/

.sidebarMenuInner li a {
    font-family: "edgedisplaybold", sans-serif;
    letter-spacing: 5px;
    background: linear-gradient(to right, #e530e0, 20%, #281dcf); /* Gradient colors */
    -webkit-background-clip: text; /* Apply background-clip to text */
    background-clip: text;
    color: transparent; /* Make the text color transparent */
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

#cart {

}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}


input[type=checkbox] {
    transition: all 0.3s;  
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    background-color: #fff;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
    background-color: #fff;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    background-color: #fff;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 1;
}

#logoDiv {
    display: flex;
    justify-content: center;
}

img[alt="The Game Hub Logo."] {
    margin: auto;
}

/************************************************ END SLIDER MENU ************************************************/

@media screen and (max-width: 300px) {

    /* 001 */

    main {
         
    }

    div#store-items-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    div#store-items-container > * {
        margin: 1rem 0 0 0; 
    }

    div#store-items-container > :nth-child(2n - 1) {
        margin-right: 0.25rem;
        margin-left: 0.5rem;
    }

    div#store-items-container > :nth-child(2n) {
        margin-left: 0.25rem;
        margin-right: 0.5rem;
    }

    #spacer {
        height: 4rem; 
        width: 100%;
        max-width: 100%;
    }

    div.store-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        background-color: #fff;
        margin: 1.5rem;
        border-radius: 1rem;
        border: solid 1px #000;
    }

    h2.item-title {
        font-family: "ralewayregular", sans-serif;
        font-size: 1.2rem;
        text-align: center;
        color: #000;
    }

    h3.item-price {
        font-family: "ralewaythin", sans-serif;
        font-size: 0.8rem; 
        text-align: center;
        color: #000;
    }

    p.item-description {
        font-family: "sansationregular", sans-serif;
        margin: 1rem;
        text-align: center;
        display: none;
        color: #000;
    }

    div.button-wrapper {
        background: black; 
        width: 75%;
        height: 5rem;
        border-radius: 2rem;
        margin: 1rem;
    }

    button.add-to-cart {
		font-family: "edgedisplaybold", sans-serif;
        font-size: 0.8rem;
        letter-spacing: 2px;
/*      background-image: linear-gradient(to right, #e530e0, 20%, #281dcf); */
		cursor: pointer;
        height: 100%;
        width: 100%;
        border-radius: 2rem;
        border: none;

        background: linear-gradient(to right, #e530e0, 20%, #281dcf); /* Gradient colors */
        -webkit-background-clip: text; /* Apply background-clip to text */
        color: transparent; /* Make the text color transparent */
    }

    div.item-image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        width: 100%;
        height: 120%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: #fff;
    }

    img.item-image {
        width: 100%;
        height: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        object-fit: cover;
    }

    div#cart-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto; 
        width: 80vw;
        height: 80vh;
        background-color: #000;
        z-index: 5;
    }

    div.hidden {
        display: none; 
    }

    button.close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
    }

    footer {
        font-family: "leaguegothicregular", sans-serif;
        height: 3rem; 
        text-align: end;
        margin-top: 1.5rem;
        color: #000;
    }

}

@media screen and (min-width: 301px) and (max-width: 400px) {

    /* 002 - This repersents usual mobile screen portrait widths */

    main {
        
    }

    div#store-items-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    div#store-items-container > * {
        margin: 1rem 0 0 0; 
    }

    div#store-items-container > :nth-child(2n - 1) {
        margin-right: 0.5rem;
        margin-left: 1rem;
    }

    div#store-items-container > :nth-child(2n) {
        margin-left: 0.5rem;
        margin-right: 1rem;
    }

    #spacer {
        height: 4rem; 
        width: 100%;
        max-width: 100%;
    }

    div.store-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        background-color: #fff;
/*      margin: 1rem; */
        border-radius: 1rem;
        border: solid 1px #000;
    }

    h2.item-title {
        font-family: "ralewayregular", sans-serif;
        font-size: 1.2rem;
        color: #000;
    }

    h3.item-price {
        font-family: "ralewaythin", sans-serif;
        font-size: 0.8rem; 
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
        color: #000;
    }

    p.item-description {
        font-family: "sansationregular", sans-serif;
        font-size: 0.8rem;
        margin: 0.8rem;
        text-align: center;
        color: #000;
    }

    div.button-wrapper {
        background: black; 
        width: 75%;
        height: 5rem;
        border-radius: 2rem;
        margin: 1rem;
    }

    button.add-to-cart {
		font-family: "edgedisplaybold", sans-serif;
        font-size: 0.9rem;
        letter-spacing: 2px;
/*      background-image: linear-gradient(to right, #e530e0, 20%, #281dcf); */
		cursor: pointer;
        height: 100%;
        width: 100%;
        border-radius: 2rem;
        border: none;

        background: linear-gradient(to right, #e530e0, 20%, #281dcf); /* Gradient colors */
        -webkit-background-clip: text; /* Apply background-clip to text */
        color: transparent; /* Make the text color transparent */
    }

    div.item-image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        width: 100%;
        height: 120%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: #fff;
    }

    img.item-image {
        width: 100%;
        height: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        object-fit: cover;
    }

    div#cart-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto; 
        width: 80vw;
        height: 80vh;
        background-color: #000;
        z-index: 5;
    }

    div.hidden {
        display: none; 
    }

    button.close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
    }

    footer {
        font-family: "leaguegothicregular", sans-serif;
        height: 3rem; 
        text-align: end;
        margin-top: 1.5rem;
        color: #000;
    }

}

@media screen and (min-width: 401px) and (max-width: 600px) {

    /* 003 */

    main {

    }

    div#store-items-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    div#store-items-container > * {
        margin: 1rem 0 0 0; 
    }

    div#store-items-container > :nth-child(2n - 1) {
        margin-right: 0.5rem;
        margin-left: 1rem;
    }

    div#store-items-container > :nth-child(2n) {
        margin-left: 0.5rem;
        margin-right: 1rem;
    }

    #spacer {
        height: 4rem; 
        width: 100%;
        max-width: 100%;
    }

    div.store-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        background-color: #fff;
        margin: 1rem;
        border-radius: 1rem;
        border: solid 1px #000;
    }

    h2.item-title {
        font-family: "ralewayregular", sans-serif;
        font-size: 1.5rem;
        color: #000;
    }

    h3.item-price {
        font-family: "ralewaythin", sans-serif;
        font-size: 0.8rem; 
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
        color: #000;
    }

    p.item-description {
        font-family: "sansationregular", sans-serif;
        margin: 1rem;
        text-align: center;
        color: #000;
    }

    div.button-wrapper {
        background: black; 
        width: 75%;
        height: 5rem;
        border-radius: 2rem;
        margin: 1rem;
    }

    button.add-to-cart {
		font-family: "edgedisplaybold", sans-serif;
        font-size: 1rem;
        letter-spacing: 2px;
/*      background-image: linear-gradient(to right, #e530e0, 20%, #281dcf); */
		cursor: pointer;
        height: 100%;
        width: 100%;
        border-radius: 2rem;
        border: none;

        background: linear-gradient(to right, #e530e0, 20%, #281dcf); /* Gradient colors */
        -webkit-background-clip: text; /* Apply background-clip to text */
        color: transparent; /* Make the text color transparent */
    }

    div.item-image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        width: 100%;
        height: 120%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: #fff;
    }

    img.item-image {
        width: 100%;
        height: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        object-fit: cover;
    }

    div#cart-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto; 
        width: 70vw;
        height: 80vh;
        background-color: #000;
        z-index: 5;
    }

    div.hidden {
        display: none; 
    }

    button.close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
    }

    footer {
        font-family: "leaguegothicregular", sans-serif;
        font-size: 1rem;
        height: 3rem; 
        text-align: end;
        margin-top: 1.5rem;
        color: #000;
    }

}

@media screen and (min-width: 601px) and (max-width: 1000px) {

    /* 004 */

    main {
        
    }

    div#store-items-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    div#store-items-container > * {
        margin: 1rem 0 0 0; /* Top, Right, Bottom, Left margin */
    }

    div#store-items-container > :nth-child(1n) {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    #spacer {
        height: 4rem; 
        width: 100%;
        max-width: 100%;
    }

    div.store-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        background-color: #fff;
        margin: 1rem;
        border-radius: 1rem;
        border: solid 1px #000;
    }

    h2.item-title {
        font-family: "ralewayregular", sans-serif;
        color: #000;
    }

    h3.item-price {
        font-family: "ralewaythin", sans-serif;
        font-size: 0.8rem; 
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
        color: #000;
    }

    p.item-description {
        font-family: "sansationregular", sans-serif;
        margin: 1rem;
        text-align: center;
        color: #000;
    }

    div.button-wrapper {
        background: black; 
        width: 75%;
        height: 5rem;
        border-radius: 2rem;
        margin: 1rem;
    }

    button.add-to-cart {
		font-family: "edgedisplaybold", sans-serif;
        font-size: 1rem;
        letter-spacing: 2px;
/*      background-image: linear-gradient(to right, #e530e0, 20%, #281dcf); */
		cursor: pointer;
        height: 100%;
        width: 100%;
        border-radius: 2rem;
        border: none;

        background: linear-gradient(to right, #e530e0, 20%, #281dcf); /* Gradient colors */
        -webkit-background-clip: text; /* Apply background-clip to text */
        color: transparent; /* Make the text color transparent */
    }

    div.item-image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        width: 100%;
        height: 120%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: #fff;
    }

    img.item-image {
        width: 100%;
        height: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        object-fit: cover;
    }

    div#cart-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto; 
        width: 70vw;
        height: 80vh;
        background-color: #000;
        z-index: 5;
    }

    div.hidden {
        display: none; 
    }

    button.close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
    }

    footer {
        font-family: "leaguegothicregular", sans-serif;
        height: 3rem; 
        text-align: end;
        margin-top: 1.5rem;
        color: #000;
    }

}

@media screen and (min-width: 1001px) and (max-width: 1400px) {

    /* 005 */

    main {

    }

    div#store-items-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #spacer {
        height: 4rem; 
        width: 100%;
        max-width: 100%;
    }

    div.store-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        background-color: #fff;
        margin: 1rem;
        border-radius: 1rem;
        border: solid 1px #000;
    }

    h2.item-title {
        font-family: "ralewayregular", sans-serif;
        font-size: 1.9rem;
        color: #000;
    }

    h3.item-price {
        font-family: "ralewaythin", sans-serif;
        font-size: 0.9rem; 
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
        color: #000;
    }

    p.item-description {
        font-family: "sansationregular", sans-serif;
        font-size: 1.1rem;
        margin: 1rem;
        text-align: center;
        color: #000;
    }

    div.button-wrapper {
        background: black; 
        width: 75%;
        height: 5rem;
        border-radius: 2rem;
        margin: 1rem;
    }

    button.add-to-cart {
		font-family: "edgedisplaybold", sans-serif;
        font-size: 1rem;
        letter-spacing: 2px;
/*      background-image: linear-gradient(to right, #e530e0, 20%, #281dcf); */
		cursor: pointer;
        height: 100%;
        width: 100%;
        border-radius: 2rem;
        border: none;

        background: linear-gradient(to right, #e530e0, 20%, #281dcf); /* Gradient colors */
        -webkit-background-clip: text; /* Apply background-clip to text */
        color: transparent; /* Make the text color transparent */
    }

    div.item-image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        width: 100%;
        height: 120%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: #fff;
    }

    img.item-image {
        width: 100%;
        height: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        object-fit: cover;
    }

    div#cart-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto; 
        width: 50vw;
        height: 80vh;
        background-color: #000;
        z-index: 2;
    }

    div.hidden {
        display: none; 
    }

    button.close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
    }

    footer {
        font-family: "leaguegothicregular", sans-serif;
        font-size: 2rem;
        height: 3rem; 
        text-align: end;
        margin-top: 1.5rem;
        color: #000;
    }

}

@media screen and (min-width: 1401px) {

    /* 006 */

    main {

    }

    div#store-items-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    #spacer {
        height: 4rem; 
        width: 100%;
        max-width: 100%;
    }

    div.store-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        background-color: #fff;
        margin: 1rem;
        border-radius: 1rem;
        border: solid 1px #000;
    }

    h2.item-title {
        font-family: "ralewayregular", sans-serif;
        margin-bottom: 0;
        color: #000;
    }

    h3.item-price {
        font-family: "ralewaythin", sans-serif;
        font-size: 1rem;
        color: #000;
    }

    p.item-description {
        font-family: "sansationregular", sans-serif;
        margin: 0 1rem 1rem 1rem;
        text-align: center;
        color: #000;
    }

    div.button-wrapper {
        background: black; 
        width: 75%;
        height: 5rem;
        border-radius: 2rem;
        margin: 1rem;
    }

    button.add-to-cart {
		font-family: "edgedisplaybold", sans-serif;
        font-size: 1rem;
        letter-spacing: 2px;
/*      background-image: linear-gradient(to right, #e530e0, 20%, #281dcf); */
		cursor: pointer;
        height: 100%;
        width: 100%;
        border-radius: 2rem;
        border: none;

        background: linear-gradient(to right, #e530e0, 20%, #281dcf); /* Gradient colors */
        -webkit-background-clip: text; /* Apply background-clip to text */
        color: transparent; /* Make the text color transparent */
    }

    div.item-image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        width: 100%;
        height: 120%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: #fff;
/*      border-bottom: solid 1px #000; */
    }

    img.item-image {
        width: 100%;
        height: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        object-fit: cover;
    }

    div#cart-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto; 
        width: 50vw;
        height: 80vh;
        background-color: #000;
        z-index: 2;
    }

    div.hidden {
        display: none; 
    }

    button.close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
    }

    footer {
        font-family: "leaguegothicregular", sans-serif;
        font-size: 2rem;
        color: #000;
/*      border-top: #000 solid 1px; */
        height: 3rem; 
        text-align: end;
        margin-top: 1.5rem;
    }
}
