/* /var/www/html/bytebloom.tech/express/public/css/store.css */

html {
    scroll-behavior: smooth;
    scrollbar-color: grey black;                                   
    scrollbar-width: thin;
}

body {
    margin: 0;
}

@media screen and (max-width: 300px) {

    /* 01 */

    main {
        height: 100vh;
        background-image: linear-gradient(135deg, #e831e2 5%, #2a1ccc);
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        background-color: black;
        color: white;
    }

    div#store-items-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    div.store-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        background-color: pink;
        margin: 1rem;
    }

    button.add-to-cart {
        background-color: purple;
        height: 4rem;
        width: 50%;
        margin: 1rem;
        border-radius: 2rem;
    }

    img.item-image { /* These width and hight values may only be working because my test image is square | Does "%" here refer to the containing block? */
        width: 100%;
    }

}

@media screen and (min-width: 301px) and (max-width: 400px) {

    /* 02 */

    main {
        height: 100vh;
        background-image: linear-gradient(135deg, #e831e2 5%, #2a1ccc);
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        background-color: black;
        color: white;
    }

    div#store-items-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    div.store-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        background-color: pink;
        margin: 1rem;
    }

    button.add-to-cart {
        background-color: purple;
        height: 4rem;
        width: 50%;
        margin: 1rem;
        border-radius: 2rem;
    }

    img.item-image { /* These width and hight values may only be working because my test image is square | Does "%" here refer to the containing block? */
        width: 100%;
    }

}

@media screen and (min-width: 401px) and (max-width: 600px) {

    /* 03 */

    main {
        height: 100vh;
        background-image: linear-gradient(135deg, #e831e2 5%, #2a1ccc);
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        background-color: black;
        color: white;
    }

    div#store-items-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    div.store-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        background-color: pink;
        margin: 1rem;
    }

    button.add-to-cart {
        background-color: purple;
        height: 4rem;
        width: 50%;
        margin: 1rem;
        border-radius: 2rem;
    }

    img.item-image { /* These width and hight values may only be working because my test image is square | Does "%" here refer to the containing block? */
        width: 100%;
    }

}

@media screen and (min-width: 601px) and (max-width: 1000px) {

    /* 04 */

    main {
        height: 100vh;
        background-image: linear-gradient(135deg, #e831e2 5%, #2a1ccc);
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        background-color: black;
        color: white;
    }

    div#store-items-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    div.store-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        background-color: pink;
        margin: 1rem;
    }

    button.add-to-cart {
        background-color: purple;
        height: 4rem;
        width: 50%;
        margin: 1rem;
        border-radius: 2rem;
    }

    img.item-image { /* These width and hight values may only be working because my test image is square | Does "%" here refer to the containing block? */
        width: 100%;
    }

}

@media screen and (min-width: 1001px) and (max-width: 1400px) {

    /* 05 */

    main {
        height: 100vh;
        background-image: linear-gradient(135deg, #e831e2 5%, #2a1ccc);
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        background-color: black;
        color: white;
    }

    div#store-items-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    div.store-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        background-color: pink;
        margin: 1rem;
    }

    button.add-to-cart {
        background-color: purple;
        height: 4rem;
        width: 50%;
        margin: 1rem;
        border-radius: 2rem;
    }

    img.item-image { /* These width and hight values may only be working because my test image is square | Does "%" here refer to the containing block? */
        width: 100%;
    }

}

@media screen and (min-width: 1401px) {

    /* 06 */

    main {
        height: 100vh;
        background-image: linear-gradient(135deg, #e831e2 5%, #2a1ccc);
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        background-color: black;
        color: white;
    }

    div#store-items-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    div.store-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        background-color: pink;
        margin: 1rem;
    }

    button.add-to-cart {
        background-color: purple;
        height: 4rem;
        width: 50%;
        margin: 1rem;
        border-radius: 2rem;
    }

    img.item-image { /* These width and hight values may only be working because my test image is square | Does "%" here refer to the containing block? */
        width: 100%;
    }

}
